* {
    box-sizing: border-box;
}

:root {
    --primary-color: #ff5b2e;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    background: #fffaf5;
}
/* COMMON */
a {
    text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Sora", sans-serif;
}

input,
textarea,
select,
button {
    font-size: inherit;
    font-family: inherit;
}

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}
.btn {
    --height: 56px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 130px;
    height: var(--height);
    line-height: var(--height);
    border: 1px solid rgba(0, 9, 88, 0.7);
    border-radius: 99px;
    font-weight: 600;
    font-size: 1.4rem;
    text-align: center;
    color: #000958;
}
.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

.btn--primary {
    color: #fff;
    background: var(--primary-color);
    border-color: var(--primary-color);
}

.btn__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fff;
}
/* Header */
.header {
    padding: 26px 0;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__list {
    display: flex;
}

.navbar__link,
.header-action__link {
    padding: 8px 18px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1; /* 100% */
    color: #5e6085;
}
.navbar__link:hover {
    color: #000958;
    text-shadow: 1px 0 0 currentColor;
}

.header-action__btn {
    --height: 50px;
    min-width: 118px;
}

/* Hero */
.hero {
    margin-top: 74px;
}
.hero__media {
    position: relative;
    display: flex;
    padding-bottom: 94px;
}
.hero__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 120px;
}
.hero__img-wrap {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 388px;
    height: 488px;
    background: #fe997b;
    border-radius: 16px;
    border: 3px solid white;
}

.hero__img {
    max-width: 100%;
    border-radius: inherit;
    max-height: 100%;
}

.hero__decor {
    position: absolute;
    z-index: -1;
}

.hero__decor-left {
    left: -58px;
    bottom: -10px;
}

.hero__decor-right {
    top: 16px;
    right: -42px;
}
.hero__img-wrap-small {
    align-self: flex-end;
    width: 186px;
    height: 244px;
    border: 2px solid #f7dddf;
    background: #faa7ad;
    margin: 0 0 -58px -24px;
}

.hero__list {
    position: absolute;
    width: 250px;
    height: 156px;
    left: 129px;
    bottom: 0;
    padding: 18px 14px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 4px 21px 0px rgba(247, 167, 12, 0.32);
}
.hero__list-item {
    display: flex;
}
.hero__list-item-thumb {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    object-fit: cover;
    background: #fec23f;
}
.hero__list-item-info {
    margin-left: 10px;
}
.hero__list-item-title {
    color: #181e52;
    font-family: Sora, sans-serif;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
}
.hero__list-item-skeleton {
    margin-top: 6px;
    width: 118px;
    height: 4px;
    border-radius: 10px;
    opacity: 0.08;
    background: #000958;
}
.hero__list-item:nth-of-type(2) .hero__list-item-thumb {
    background: #6597c2;
}
.hero__list-item-skeleton:last-child {
    width: 39px;
}
.hero__list-item-separate {
    display: block;
    width: 222px;
    height: 2px;
    margin: 20px 0;
    background: #f2f2f2;
    border-radius: 99px;
}

.hero__heading {
    color: #000958;
    font-size: 6.6rem;
    font-weight: 800;
    line-height: 1.15;
}

.hero__description {
    width: 391px;
    margin-top: 24px;
    color: #656689;
    font-size: 1.6rem;
    line-height: 1.88;
}

.hero__row {
    display: flex;
    align-items: center;
    margin-top: 38px;
}

.hero__cta-btn {
    min-width: 190px;
    --height: 60px;
    font-size: 1.6rem;
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
}

.hero__cta-link {
    margin-left: 24px;
    color: #000958;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1;
    text-decoration: underline;
}
